grpcio-tools==1.62.1 ; python_version >= "3.9" and python_version < "4.0"
grpcio==1.62.1 ; python_version >= "3.9" and python_version < "4.0"
mypy-protobuf==3.6.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "4.0"
setuptools==69.2.0 ; python_version >= "3.9" and python_version < "4.0"
types-protobuf==4.24.0.20240408 ; python_version >= "3.9" and python_version < "4.0"
