grpcio-tools==1.58.0 ; python_version >= "3.9" and python_version < "4.0"
grpcio==1.58.0 ; python_version >= "3.9" and python_version < "4.0"
mypy-protobuf==3.5.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==4.25.3 ; python_version >= "3.9" and python_version < "4.0"
setuptools==69.1.1 ; python_version >= "3.9" and python_version < "4.0"
types-protobuf==4.24.0.20240302 ; python_version >= "3.9" and python_version < "4.0"
